<h3>Articles</h3>

Our blog has <%= Article.public_count %> articles and counting!

  <% @articles.each do |article| %>
    <div class="card" style="width: 50rem;">
      <div class="card-body">
        <h5 class="card-title"><%= article.title %></h5>
        <p class="card-text"><%= article.body %></p>
        <a href=<%=article_path(article.id)%>  class="btn btn-primary"><%= link_to "Read the comments", article_path(article.id)%></a>
      </div>
    </div>
  <% end %>

<td><%= link_to "New Article", new_article_path , class: "btn btn-primary" %></td>